/* -------------------------  Datatables ------------------------- */

/*Images on datatables*/
#album-cover {
	max-width: 40%;
	height: auto;
}

/*Center text in datatables*/
.table>tbody>tr>td {
	vertical-align: middle;
	padding-left: 20px;
}

#personalized-jumbo {
	margin-top: 1em;
	padding: 1em 0em 1em 0em;
	border-radius: 10px;
}

#personalized-jumbo h3 {
	padding-bottom: 0.5em;
}

.profile-table-details {
	border-bottom: 1px solid #dee2e6;
}

.formManageButtons {
	margin: auto;
	width: 50%;
}

.album-approved-icon {
	margin: auto;
	width: 50%;
}